<%= link_to(@document.title, @document_url) %> (<%= @document.category.name %>)<br />
<br />
<%= textilizable(@document, :description, :only_path => false) %>

<p>Please log in to ProjectHUB to view and manage the issue details.</p>
<p>Best Regards</p>